<h1> Stock Exchange </h1>
<form action="add" method="post">
  <fieldset>
    <legend>Add</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="amount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="quote" method="post">
  <fieldset>
    <legend>Quote</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stocksym" placeholder="stock symbol" />
    <input type="submit" />
  </fieldset>
</form>
<form action="summary" method="get">
  <fieldset>
    <legend>User Summary</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>
<form action="buy" method="post">
  <fieldset>
    <legend>Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="buyAmount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="commitBuy" method="post">
  <fieldset>
    <legend>Commit Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>
<form action="setBuyAmount" method="post">
  <fieldset>
    <legend>Set Buy Amount</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="buyAmount" placeholder="amount to buy" />
    <input type="text" name="threshold" placeholder="threshold $" />
    <input type="submit" />
  </fieldset>
</form>
<form action="dumplog" method="post">
  <fieldset>
    <legend>Dumplog (Enter admin as username for all logs)</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="outfile" placeholder="Output File (no extension)" />
    <input type="submit" />
  </fieldset>
</form>
