<h1> Console </h1>
<form action="add" method="post">
  <fieldset>
    <legend>Add</legend>
    <input type="text" name="uID" placeholder="username" />
    <input type="text" name="amount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="buy" method="post">
  <fieldset>
    <legend>Buy</legend>
    <input type="text" name="uID" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="buyAmount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
