<h1> Stock Exchange </h1>
<form action="add" method="post">
  <fieldset>
    <legend>Add</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="amount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="quote" method="post">
  <fieldset>
    <legend>Quote</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stocksym" placeholder="stock symbol" />
    <input type="submit" />
  </fieldset>
</form>
<form action="summary" method="get">
  <fieldset>
    <legend>User Summary</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>
<form action="buy" method="post">
  <fieldset>
    <legend>Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="buyAmount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="commitBuy" method="post">
  <fieldset>
    <legend>Commit Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>
<form action="cancelBuy" method="post">
  <fieldset>
    <legend>Cancel Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>

<form action="sell" method="post">
  <fieldset>
    <legend>Sell</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="sellAmount" placeholder="$" />
    <input type="submit" />
  </fieldset>
</form>
<form action="commitSell" method="post">
  <fieldset>
    <legend>Commit Sell</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="submit" />
  </fieldset>
</form>

<!-- Buy Triggers -->
<form action="setBuyAmount" method="post">
  <fieldset>
    <legend>Set Buy Amount</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="buyAmount" placeholder="amount to buy" />
    <input type="submit" />
  </fieldset>
</form>
<form action="cancelSetBuy" method="post">
  <fieldset>
    <legend>Cancel Set Buy</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="submit" />
  </fieldset>
</form>
<form action="setBuyTrigger" method="post">
  <fieldset>
    <legend>Set Buy Trigger</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="threshold" placeholder="threshold $" />
    <input type="submit" />
  </fieldset>
</form>

<!-- Sell Triggers -->
<form action="setSellAmount" method="post">
  <fieldset>
    <legend>Set Sell Amount</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="sellAmount" placeholder="amount to sell" />
    <input type="submit" />
  </fieldset>
</form>
<form action="cancelSetSell" method="post">
  <fieldset>
    <legend>Cancel Set Sell</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="submit" />
  </fieldset>
</form>
<form action="setSellTrigger" method="post">
  <fieldset>
    <legend>Set Sell Trigger</legend>
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="stockSymbol" placeholder="symbol" />
    <input type="text" name="threshold" placeholder="threshold $" />
    <input type="submit" />
  </fieldset>
</form>
